*~
_idee*
*_
demos/13-lissajous/_pngs/
demos/__19-trochoidal-wave__/
docs_jekyll/_includes/_tracker.js
docs_jekyll/_tracker.js
node_modules
npm-debug.log
package.lock
docs_jekyll/screenshots
docs_jekyll/_includes/_assets
docs_jekyll/_site/*
docs_jekyll/.sass-cache
docs_jekyll/docs
docs_jekyll/docs_md
*.lock
releases/
package-lock.json
.env
.env-testing
tmp
test.svg
webpack.config-old.js
*.ogv
*.mp4
*.mov
screenshots/videos/
screenshots/screenshots-fullcolor/
resources/
demos/17-hobby-curves/hobby-weitz.js
npm-package/
typescript-example/node_modules/
*-deprecated*
src/js
dist/plotboilerplate.browser.min.js.LICENSE.txt
docs_jekyll/docs_typedoc/
demos/22-threejs/dildomodels/
