
div.flow-container:has(> .progressbar) {  
    background-color: rgba(0,0,0,0.25);;
}

.progressbar {
    min-height: 1.5em;
    webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    background-image:
        -webkit-gradient(linear, 0 0, 100% 100%,
            color-stop(.25, rgba(255, 255, 255, .2)),
            color-stop(.25, transparent), color-stop(.5, transparent),
            color-stop(.5, rgba(255, 255, 255, .2)),
            color-stop(.75, rgba(255, 255, 255, .2)),
            color-stop(.75, transparent), to(transparent)
        );
    background-image:
        -moz-linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
        );
}

.animate {
    animation: progressbar-animate 2s linear infinite;
}

@-webkit-keyframes progressbar-animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}
@keyframes progressbar-animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}